openapi: 3.0.0
info:
  description: "API for interacting with the Chapar shipping service. Note the unique\
    \ request format: POST requests use a multipart/form-data body with a single field\
    \ named \"input\" that contains a stringified JSON payload."
  title: Chapar Customer API
  version: 3.0.0
servers:
- description: Main Application Server
  url: https://app.krch.ir/v1
- description: Server for Bulk Imports
  url: https://api.krch.ir/v1
tags:
- description: Operations related to getting shipping quotes.
  name: Quotes
- description: Operations for creating and managing shipments.
  name: Shipments
- description: Operations for tracking shipments and viewing history.
  name: Tracking
- description: Operations for retrieving state and city information.
  name: Locations
paths:
  /get_quote:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_get_quote_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
          description: Successful response with quote data.
      security:
      - ApiKeyAuth: []
      summary: Get a shipping cost quote
      tags:
      - Quotes
  /tracking:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_tracking_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingResponse"
          description: Successful response with tracking data.
      security:
      - ApiKeyAuth: []
      summary: Track shipments by reference
      tags:
      - Tracking
  /bulk_import:
    post:
      callbacks:
        onStatusChanged:
          '{$request.body#/bulk/0/cn/change_state_url}':
            post:
              operationId: OnStatusChangedPost
              requestBody:
                content:
                  application/x-www-form-urlencoded:
                    schema:
                      $ref: "#/components/schemas/_bulk_import_post_request_1"
                description: Payload sent to the registered callback URL when a shipment
                  status changes.
                required: true
              responses:
                "200":
                  description: Your server should return a 200 OK to acknowledge receipt.
              x-callback-request: true
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_bulk_import_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkImportResponse"
          description: Successful response with bulk import results.
      security:
      - ApiKeyAuth: []
      summary: Import multiple shipments at once
      tags:
      - Shipments
  /history_report:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_history_report_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryReportResponse"
          description: Successful response with history report data.
      security:
      - ApiKeyAuth: []
      summary: Get a history report for shipments
      tags:
      - Tracking
  /bulk_history_report:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_bulk_history_report_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkHistoryReportResponse"
          description: Successful response with bulk history report data.
      security:
      - ApiKeyAuth: []
      summary: Get a bulk history report
      tags:
      - Tracking
  /cancel_pickup:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_cancel_pickup_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: Successful cancellation response.
      security:
      - ApiKeyAuth: []
      summary: Cancel a scheduled pickup
      tags:
      - Shipments
  /get_state:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStateResponse"
          description: A list of all states.
      summary: Get list of all states
      tags:
      - Locations
  /get_city:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_get_city_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCityResponse"
          description: Successful response with city data.
      security:
      - ApiKeyAuth: []
      summary: Get list of cities for a state
      tags:
      - Locations
components:
  schemas:
    _get_quote_post_request:
      properties:
        input:
          description: A stringified JSON object for the quote request.
          example: "{\"order\":{\"origin\":\"10866\",\"destination\":\"10866\",\"\
            method\":\"1\",\"value\":\"3200000\",\"weight\":\"4\"}}"
          type: string
      required:
      - input
      type: object
    _tracking_post_request:
      properties:
        input:
          description: A stringified JSON object containing the tracking references.
          example: "{\"order\":{\"reference\":\"54100003225544101\",\"lang\":\"fa\"\
            }}"
          type: string
      required:
      - input
      type: object
    _bulk_import_post_request:
      properties:
        input:
          description: A stringified JSON object containing the bulk shipment data.
          example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"bulk\"\
            :[{\"cn\":{\"reference\":675675,\"date\":\"2018-05-13\",\"assinged_pieces\"\
            :\"3\",\"service\":\"COD\",\"value\":\"3350000.00\",\"inv_value\":\"3350000.00\"\
            ,\"payment_term\":0,\"weight\":\"1\",\"note\":\"تست\",\"content\":\"تس\
            ت\",\"change_state_url\":\"https://...\"},\"receiver\":{\"person\":\"آ\
            زمایشی\",\"company\":\"\",\"city_no\":\"10770\",\"telephone\":\"\",\"\
            mobile\":\"989034538660\",\"email\":\"test@test.com\",\"address\":\"آز\
            مایشی\",\"post_code\":\"10770\"},\"sender\":{\"person\":\"آزمایشی\",\"\
            company\":\"\",\"city_no\":\"10770\",\"telephone\":\"\",\"mobile\":\"\
            989034538660\",\"email\":\"test@test.com\",\"address\":\"آزمایشی\",\"\
            post_code\":\"10770\"}}]}"
          type: string
        signature:
          description: An optional signature file for the shipment.
          format: binary
          type: string
      required:
      - input
      type: object
    _history_report_post_request:
      properties:
        input:
          description: A stringified JSON object for the history report request.
          example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"date\"\
            :{\"from\":\"25-09-2017\",\"to\":\"10-10-2017\"},\"maximum_records\":10}"
          type: string
      required:
      - input
      type: object
    _bulk_history_report_post_request:
      properties:
        input:
          description: A stringified JSON object containing the bulk tracking numbers.
          example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"bulk\"\
            :[\"54100003992527101\",\"54100003942527101\"]}"
          type: string
      required:
      - input
      type: object
    _cancel_pickup_post_request:
      properties:
        input:
          description: A stringified JSON object for the cancellation request.
          example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"consignment_no\"\
            :\"54100004430041101\",\"reason\":\"آزمایشی\"}"
          type: string
      required:
      - input
      type: object
    _get_city_post_request:
      properties:
        input:
          description: A stringified JSON object containing the state number.
          example: "{\"state\":{\"no\":9}}"
          type: string
      required:
      - input
      type: object
    GenericResponse:
      example:
        result: true
        message: message
        object: "{}"
      properties:
        result:
          type: boolean
        message:
          nullable: true
          type: string
        object:
          nullable: true
          type: object
      required:
      - result
      type: object
    QuoteResponse:
      example:
        result: true
        message: message
        object:
          order:
            quote: 0
            price:
              fld_Total_Cost: 9
              price_list: price_list
              fld_Charge_Cost: 5
              fld_Lab_Cost: 2
              zone: zone
              fld_Manual_VAT: 7
              fld_Manual_Cost: 6
              fld_Pack_Cost: 1
              fld_Manual_Insurance: 5
              min_ins: min_ins
            currency: currency
      properties:
        result:
          type: boolean
        message:
          nullable: true
          type: string
        object:
          $ref: "#/components/schemas/QuoteObject"
      required:
      - object
      - result
      type: object
    TrackingResponse:
      example:
        result: true
        message: message
        object:
          order:
            delivered_to: delivered_to
            signature: https://openapi-generator.tech
            delivery_time: delivery_time
            history:
            - date: date
              loc: loc
              timestamp_date: 0
              status: status
            - date: date
              loc: loc
              timestamp_date: 0
              status: status
      properties:
        result:
          type: boolean
        message:
          nullable: true
          type: string
        object:
          $ref: "#/components/schemas/TrackingObject"
      required:
      - object
      - result
      type: object
    BulkImportResponse:
      example:
        result: true
        message: message
        object:
          result:
          - reference: 0
            error: error
            tracking: tracking
            status: true
          - reference: 0
            error: error
            tracking: tracking
            status: true
      properties:
        result:
          type: boolean
        message:
          nullable: true
          type: string
        object:
          $ref: "#/components/schemas/BulkImportObject"
      required:
      - object
      - result
      type: object
    HistoryReportResponse:
      example:
        result: true
        message: message
        object:
          receiver:
            address: address
            city: city
            person: person
            post_code: post_code
            mobile: mobile
            company: company
            telephone: telephone
          financial:
            extra_charge: extra_charge
            delivery_charge: delivery_charge
            pack_charge: pack_charge
            cod_value: 0.8008281904610115
            insurance_charge: insurance_charge
            total_charge: 6.027456183070403
            vat_charge: vat_charge
          cn:
            date: date
            last_status: last_status
            tracking: tracking
          history:
          - date: date
            status_note: status_note
            timestamp_date: 1
            status: status
          - date: date
            status_note: status_note
            timestamp_date: 1
            status: status
      properties:
        result:
          type: boolean
        message:
          nullable: true
          type: string
        object:
          $ref: "#/components/schemas/HistoryReportObject"
      required:
      - object
      - result
      type: object
    BulkHistoryReportResponse:
      example:
        result: true
        message: message
        object:
          history:
          - date: date
            reference: reference
            status_note: status_note
            time: time
            tracking: tracking
            status: status
          - date: date
            reference: reference
            status_note: status_note
            time: time
            tracking: tracking
            status: status
      properties:
        result:
          type: boolean
        message:
          nullable: true
          type: string
        object:
          $ref: "#/components/schemas/BulkHistoryReportObject"
      required:
      - object
      - result
      type: object
    GetStateResponse:
      example:
        result: true
        message: message
        object:
          state:
          - "false": "false"
            name: name
          - "false": "false"
            name: name
      properties:
        result:
          type: boolean
        message:
          nullable: true
          type: string
        object:
          $ref: "#/components/schemas/GetStateObject"
      required:
      - object
      - result
      type: object
    GetCityResponse:
      example:
        result: true
        message: message
        object:
          objects:
            city:
            - "false": "false"
              name: name
              state_no: state_no
            - "false": "false"
              name: name
              state_no: state_no
            selected: "{}"
      properties:
        result:
          type: boolean
        message:
          nullable: true
          type: string
        object:
          $ref: "#/components/schemas/GetCityObject"
      required:
      - object
      - result
      type: object
    QuoteObject:
      example:
        order:
          quote: 0
          price:
            fld_Total_Cost: 9
            price_list: price_list
            fld_Charge_Cost: 5
            fld_Lab_Cost: 2
            zone: zone
            fld_Manual_VAT: 7
            fld_Manual_Cost: 6
            fld_Pack_Cost: 1
            fld_Manual_Insurance: 5
            min_ins: min_ins
          currency: currency
      properties:
        order:
          $ref: "#/components/schemas/QuoteObject_order"
      required:
      - order
      type: object
    PriceDetails:
      example:
        fld_Total_Cost: 9
        price_list: price_list
        fld_Charge_Cost: 5
        fld_Lab_Cost: 2
        zone: zone
        fld_Manual_VAT: 7
        fld_Manual_Cost: 6
        fld_Pack_Cost: 1
        fld_Manual_Insurance: 5
        min_ins: min_ins
      properties:
        zone:
          type: string
        fld_Manual_Cost:
          type: integer
        fld_Pack_Cost:
          type: integer
        fld_Charge_Cost:
          type: integer
        fld_Manual_Insurance:
          type: integer
        fld_Lab_Cost:
          type: integer
        fld_Manual_VAT:
          type: integer
        fld_Total_Cost:
          type: integer
        price_list:
          type: string
        min_ins:
          type: string
      required:
      - fld_Manual_Cost
      - fld_Total_Cost
      - zone
      type: object
    TrackingObject:
      example:
        order:
          delivered_to: delivered_to
          signature: https://openapi-generator.tech
          delivery_time: delivery_time
          history:
          - date: date
            loc: loc
            timestamp_date: 0
            status: status
          - date: date
            loc: loc
            timestamp_date: 0
            status: status
      properties:
        order:
          $ref: "#/components/schemas/TrackingObject_order"
      required:
      - order
      type: object
    TrackingHistoryItem:
      example:
        date: date
        loc: loc
        timestamp_date: 0
        status: status
      properties:
        timestamp_date:
          type: integer
        date:
          type: string
        status:
          type: string
        loc:
          nullable: true
          type: string
      type: object
    BulkImportObject:
      example:
        result:
        - reference: 0
          error: error
          tracking: tracking
          status: true
        - reference: 0
          error: error
          tracking: tracking
          status: true
      properties:
        result:
          items:
            $ref: "#/components/schemas/BulkImportResultItem"
          type: array
      type: object
    BulkImportResultItem:
      example:
        reference: 0
        error: error
        tracking: tracking
        status: true
      properties:
        tracking:
          type: string
        reference:
          type: integer
        status:
          type: boolean
        error:
          type: string
      type: object
    HistoryReportObject:
      example:
        receiver:
          address: address
          city: city
          person: person
          post_code: post_code
          mobile: mobile
          company: company
          telephone: telephone
        financial:
          extra_charge: extra_charge
          delivery_charge: delivery_charge
          pack_charge: pack_charge
          cod_value: 0.8008281904610115
          insurance_charge: insurance_charge
          total_charge: 6.027456183070403
          vat_charge: vat_charge
        cn:
          date: date
          last_status: last_status
          tracking: tracking
        history:
        - date: date
          status_note: status_note
          timestamp_date: 1
          status: status
        - date: date
          status_note: status_note
          timestamp_date: 1
          status: status
      properties:
        cn:
          $ref: "#/components/schemas/ConsignmentNote"
        receiver:
          $ref: "#/components/schemas/ContactInfo"
        financial:
          $ref: "#/components/schemas/FinancialInfo"
        history:
          items:
            $ref: "#/components/schemas/HistoryItem"
          type: array
      type: object
    ConsignmentNote:
      example:
        date: date
        last_status: last_status
        tracking: tracking
      properties:
        tracking:
          type: string
        date:
          type: string
        last_status:
          type: string
      type: object
    ContactInfo:
      example:
        address: address
        city: city
        person: person
        post_code: post_code
        mobile: mobile
        company: company
        telephone: telephone
      properties:
        person:
          nullable: true
          type: string
        company:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        telephone:
          nullable: true
          type: string
        mobile:
          nullable: true
          type: string
        address:
          nullable: true
          type: string
        post_code:
          nullable: true
          type: string
      type: object
    FinancialInfo:
      example:
        extra_charge: extra_charge
        delivery_charge: delivery_charge
        pack_charge: pack_charge
        cod_value: 0.8008281904610115
        insurance_charge: insurance_charge
        total_charge: 6.027456183070403
        vat_charge: vat_charge
      properties:
        delivery_charge:
          type: string
        insurance_charge:
          type: string
        vat_charge:
          type: string
        pack_charge:
          type: string
        extra_charge:
          type: string
        cod_value:
          type: number
        total_charge:
          type: number
      type: object
    HistoryItem:
      example:
        date: date
        status_note: status_note
        timestamp_date: 1
        status: status
      properties:
        timestamp_date:
          type: integer
        date:
          type: string
        status:
          type: string
        status_note:
          type: string
      type: object
    BulkHistoryReportObject:
      example:
        history:
        - date: date
          reference: reference
          status_note: status_note
          time: time
          tracking: tracking
          status: status
        - date: date
          reference: reference
          status_note: status_note
          time: time
          tracking: tracking
          status: status
      properties:
        history:
          items:
            $ref: "#/components/schemas/BulkHistoryItem"
          type: array
      type: object
    BulkHistoryItem:
      example:
        date: date
        reference: reference
        status_note: status_note
        time: time
        tracking: tracking
        status: status
      properties:
        time:
          type: string
        date:
          type: string
        status:
          type: string
        status_note:
          type: string
        tracking:
          type: string
        reference:
          type: string
      type: object
    GetStateObject:
      example:
        state:
        - "false": "false"
          name: name
        - "false": "false"
          name: name
      properties:
        state:
          items:
            $ref: "#/components/schemas/StateItem"
          type: array
      required:
      - state
      type: object
    StateItem:
      example:
        "false": "false"
        name: name
      properties:
        "false":
          type: string
        name:
          type: string
      type: object
    GetCityObject:
      example:
        objects:
          city:
          - "false": "false"
            name: name
            state_no: state_no
          - "false": "false"
            name: name
            state_no: state_no
          selected: "{}"
      properties:
        objects:
          $ref: "#/components/schemas/GetCityObject_objects"
      required:
      - objects
      type: object
    CityItem:
      example:
        "false": "false"
        name: name
        state_no: state_no
      properties:
        state_no:
          type: string
        "false":
          type: string
        name:
          type: string
      type: object
    _bulk_import_post_request_1:
      properties:
        output:
          description: A stringified JSON object with the callback data.
          type: string
      type: object
    QuoteObject_order:
      example:
        quote: 0
        price:
          fld_Total_Cost: 9
          price_list: price_list
          fld_Charge_Cost: 5
          fld_Lab_Cost: 2
          zone: zone
          fld_Manual_VAT: 7
          fld_Manual_Cost: 6
          fld_Pack_Cost: 1
          fld_Manual_Insurance: 5
          min_ins: min_ins
        currency: currency
      properties:
        quote:
          type: integer
        price:
          $ref: "#/components/schemas/PriceDetails"
        currency:
          type: string
      required:
      - currency
      - price
      - quote
      type: object
    TrackingObject_order:
      example:
        delivered_to: delivered_to
        signature: https://openapi-generator.tech
        delivery_time: delivery_time
        history:
        - date: date
          loc: loc
          timestamp_date: 0
          status: status
        - date: date
          loc: loc
          timestamp_date: 0
          status: status
      properties:
        delivered_to:
          nullable: true
          type: string
        delivery_time:
          nullable: true
          type: string
        signature:
          format: uri
          nullable: true
          type: string
        history:
          items:
            $ref: "#/components/schemas/TrackingHistoryItem"
          type: array
      type: object
    GetCityObject_objects:
      example:
        city:
        - "false": "false"
          name: name
          state_no: state_no
        - "false": "false"
          name: name
          state_no: state_no
        selected: "{}"
      properties:
        city:
          items:
            $ref: "#/components/schemas/CityItem"
          type: array
        selected:
          nullable: true
          type: object
      required:
      - city
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
