openapi: 3.0.0
info:
  description: API for interacting with the Chapar shipping service. All POST requests
    use a unique `multipart/form-data` structure where the main payload is a JSON
    string inside a form field named `input`.
  title: Chapar Customer API
  version: 1.0.0
servers:
- description: Production App Server
  url: https://app.krch.ir/v1
- description: Production API Server for Bulk Import
  url: https://api.krch.ir/v1
tags:
- description: Operations related to getting shipping quotes.
  name: Quotes
- description: Operations for creating and managing shipments.
  name: Shipments
- description: Operations for tracking shipments and viewing history.
  name: Tracking
- description: Operations for retrieving state and city information.
  name: Locations
paths:
  /get_quote:
    post:
      description: Calculates and returns the shipping cost based on order details.
        The order object is sent as a JSON string inside a form-data field.
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_get_quote_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
          description: Successful response with quote data
        "400":
          description: Bad Request. Invalid input parameters.
        "401":
          description: Unauthorized. Invalid or missing API key or credentials.
        "500":
          description: Internal server error.
      security:
      - ApiKeyAuth: []
      summary: Get a shipping cost quote
      tags:
      - Quotes
  /bulk_import:
    post:
      description: "Creates multiple shipments from a bulk request. The payload is\
        \ sent as a JSON string inside a form-data field, with an optional signature\
        \ file."
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_bulk_import_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_bulk_import_post_200_response"
          description: Generic successful operation.
        "400":
          description: Bad Request. Invalid input parameters.
        "401":
          description: Unauthorized. Invalid or missing API key or credentials.
        "500":
          description: Internal server error.
      security:
      - ApiKeyAuth: []
      summary: Import multiple shipments at once
      tags:
      - Shipments
    servers:
    - url: https://api.krch.ir/v1
  /tracking:
    post:
      description: Retrieves tracking information for one or more shipments. The payload
        is sent as a JSON string inside a form-data field.
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_tracking_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_bulk_import_post_200_response"
          description: Generic successful operation.
        "400":
          description: Bad Request. Invalid input parameters.
        "401":
          description: Unauthorized. Invalid or missing API key or credentials.
        "500":
          description: Internal server error.
      security:
      - ApiKeyAuth: []
      summary: Track shipments by reference
      tags:
      - Tracking
  /history_report:
    post:
      description: This method is used to receive information for registered products
        within a date range. The payload is sent as a JSON string inside a form-data
        field.
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_history_report_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryReportResponse"
          description: Successful history report response.
        "400":
          description: Bad Request. Invalid input parameters.
        "401":
          description: Unauthorized. Invalid or missing API key or credentials.
        "500":
          description: Internal server error.
      security:
      - ApiKeyAuth: []
      summary: Get a history report for shipments
      tags:
      - Tracking
  /bulk_history_report:
    post:
      description: Receive tracking information for N consignments in a single report.
        The payload is sent as a JSON string inside a form-data field.
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_bulk_history_report_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkHistoryReportResponse"
          description: Successful bulk history report response.
        "400":
          description: Bad Request. Invalid input parameters.
        "401":
          description: Unauthorized. Invalid or missing API key or credentials.
        "500":
          description: Internal server error.
      security:
      - ApiKeyAuth: []
      summary: Get a bulk history report
      tags:
      - Tracking
  /cancel_pickup:
    post:
      description: This method is used to cancel an order. The payload is sent as
        a JSON string inside a form-data field.
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_cancel_pickup_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_bulk_import_post_200_response"
          description: Generic successful operation.
        "400":
          description: Bad Request. Invalid input parameters.
        "401":
          description: Unauthorized. Invalid or missing API key or credentials.
        "500":
          description: Internal server error.
      security:
      - ApiKeyAuth: []
      summary: Cancel a scheduled pickup
      tags:
      - Shipments
  /get_state:
    get:
      description: This method is used to receive the list of provinces covered by
        the Chapar company.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStateResponse"
          description: Successful state list response.
        "400":
          description: Bad Request. Invalid input parameters.
        "500":
          description: Internal server error.
      security:
      - ApiKeyAuth: []
      summary: Get list of states
      tags:
      - Locations
  /get_city:
    post:
      description: Use this method to receive the list of cities for a given state.
        The payload is sent as a JSON string inside a form-data field.
      requestBody:
        content:
          multipart/form-data:
            encoding:
              input:
                contentType: application/json
                style: form
            schema:
              $ref: "#/components/schemas/_get_city_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCityResponse"
          description: Successful city list response.
        "400":
          description: Bad Request. Invalid input parameters.
        "401":
          description: Unauthorized. Invalid or missing API key or credentials.
        "500":
          description: Internal server error.
      security:
      - ApiKeyAuth: []
      summary: Get list of cities for a state
      tags:
      - Locations
components:
  responses:
    BadRequest:
      description: Bad Request. Invalid input parameters.
    Unauthorized:
      description: Unauthorized. Invalid or missing API key or credentials.
    InternalServerError:
      description: Internal server error.
    GenericSuccessResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/_bulk_import_post_200_response"
      description: Generic successful operation.
  schemas:
    _get_quote_post_request:
      properties:
        input:
          description: A stringified JSON object for the quote request.
          example: "{\"order\":{\"origin\":\"10866\",\"destination\":\"10866\",\"\
            weight\":\"1\",\"value\":\"2000000\",\"method\":\"1\"}}"
          type: string
      required:
      - input
      type: object
    _bulk_import_post_request:
      properties:
        input:
          description: A stringified JSON object for the bulk import request.
          example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"bulk\"\
            :[{\"cn\":{...}}]}"
          type: string
        signature:
          format: binary
          type: string
      required:
      - input
      type: object
    _tracking_post_request:
      properties:
        input:
          description: A stringified JSON object for the tracking request.
          example: "{\"order\":{\"reference\":[\"54100006968781101\"],\"lang\":\"\
            fa\"}}"
          type: string
      required:
      - input
      type: object
    _history_report_post_request:
      properties:
        input:
          description: A stringified JSON object for the history report request.
          example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"date\"\
            :{\"from\":\"25-09-2017\",\"to\":\"10-10-2017\"},\"maximum_records\":10}"
          type: string
      required:
      - input
      type: object
    _bulk_history_report_post_request:
      properties:
        input:
          description: A stringified JSON object for the bulk history report request.
          example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"bulk\"\
            :[\"541...1\",\"541...2\"]}"
          type: string
      required:
      - input
      type: object
    _cancel_pickup_post_request:
      properties:
        input:
          description: A stringified JSON object for the cancel pickup request.
          example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"consignment_no\"\
            :\"541...1\",\"reason\":\"Test\"}"
          type: string
      required:
      - input
      type: object
    _get_city_post_request:
      properties:
        input:
          description: A stringified JSON object for the get city request.
          example: "{\"state\":{\"no\":9}}"
          type: string
      required:
      - input
      type: object
    QuoteResponse:
      example:
        result: true
        objects:
          order:
            method_no: 205
            quote: 689400
            method_name: درون شهری
            price:
              fld_Total_Cost: 689400
              price_list: "6243"
              fld_Charge_Cost: 70000
              fld_Lab_Cost: 0
              zone: A
              fld_Manual_VAT: 9000
              fld_Manual_Cost: "590400"
              fld_Pack_Cost: 0
              fld_Manual_Insurance: 20000
              min_ins: "5000000"
            currency: IRR
        message: message
      properties:
        result:
          example: true
          type: boolean
        message:
          nullable: true
          type: string
        objects:
          $ref: "#/components/schemas/QuoteObjects"
      required:
      - objects
      - result
      type: object
    HistoryReportResponse:
      example:
        result: true
        objects:
          receiver:
            person: person
            company: company
          financial:
            delivery_charge: delivery_charge
            total_charge: 0
          cn:
            date: date
            tracking: tracking
          history:
          - status_note: status_note
            status: status
          - status_note: status_note
            status: status
        message: message
      properties:
        result:
          example: true
          type: boolean
        message:
          nullable: true
          type: string
        objects:
          $ref: "#/components/schemas/HistoryReportObject"
      required:
      - objects
      - result
      type: object
    BulkHistoryReportResponse:
      example:
        result: true
        objects:
          history:
          - tracking: tracking
            status: status
          - tracking: tracking
            status: status
        message: message
      properties:
        result:
          example: true
          type: boolean
        message:
          nullable: true
          type: string
        objects:
          $ref: "#/components/schemas/BulkHistoryReportObject"
      required:
      - objects
      - result
      type: object
    GetStateResponse:
      example:
        result: true
        objects:
          state:
          - "false": "1"
            name: آذربایجان شرقی
          - "false": "1"
            name: آذربایجان شرقی
        message: message
      properties:
        result:
          example: true
          type: boolean
        message:
          nullable: true
          type: string
        objects:
          $ref: "#/components/schemas/GetStateObject"
      required:
      - objects
      - result
      type: object
    GetCityResponse:
      example:
        result: true
        objects:
          city:
          - "false": "11907"
            name: آرين شهر
            state_no: "9"
          - "false": "11907"
            name: آرين شهر
            state_no: "9"
          selected: "{}"
        message: message
      properties:
        result:
          example: true
          type: boolean
        message:
          nullable: true
          type: string
        objects:
          $ref: "#/components/schemas/GetCityObject"
      required:
      - objects
      - result
      type: object
    QuoteObjects:
      example:
        order:
          method_no: 205
          quote: 689400
          method_name: درون شهری
          price:
            fld_Total_Cost: 689400
            price_list: "6243"
            fld_Charge_Cost: 70000
            fld_Lab_Cost: 0
            zone: A
            fld_Manual_VAT: 9000
            fld_Manual_Cost: "590400"
            fld_Pack_Cost: 0
            fld_Manual_Insurance: 20000
            min_ins: "5000000"
          currency: IRR
      properties:
        order:
          $ref: "#/components/schemas/QuoteOrderDetails"
      required:
      - order
      type: object
    QuoteOrderDetails:
      example:
        method_no: 205
        quote: 689400
        method_name: درون شهری
        price:
          fld_Total_Cost: 689400
          price_list: "6243"
          fld_Charge_Cost: 70000
          fld_Lab_Cost: 0
          zone: A
          fld_Manual_VAT: 9000
          fld_Manual_Cost: "590400"
          fld_Pack_Cost: 0
          fld_Manual_Insurance: 20000
          min_ins: "5000000"
        currency: IRR
      properties:
        quote:
          example: 689400
          type: integer
        price:
          $ref: "#/components/schemas/PriceDetails"
        currency:
          example: IRR
          type: string
        method_no:
          example: 205
          type: integer
        method_name:
          example: درون شهری
          type: string
      required:
      - currency
      - method_name
      - method_no
      - price
      - quote
      type: object
    PriceDetails:
      example:
        fld_Total_Cost: 689400
        price_list: "6243"
        fld_Charge_Cost: 70000
        fld_Lab_Cost: 0
        zone: A
        fld_Manual_VAT: 9000
        fld_Manual_Cost: "590400"
        fld_Pack_Cost: 0
        fld_Manual_Insurance: 20000
        min_ins: "5000000"
      properties:
        zone:
          example: A
          type: string
        fld_Manual_Cost:
          example: "590400"
          type: string
        fld_Pack_Cost:
          example: 0
          type: integer
        fld_Charge_Cost:
          example: 70000
          type: integer
        fld_Manual_Insurance:
          example: 20000
          type: integer
        fld_Lab_Cost:
          example: 0
          type: integer
        fld_Manual_VAT:
          example: 9000
          type: integer
        fld_Total_Cost:
          example: 689400
          type: integer
        price_list:
          example: "6243"
          type: string
        min_ins:
          example: "5000000"
          type: string
      required:
      - fld_Charge_Cost
      - fld_Lab_Cost
      - fld_Manual_Cost
      - fld_Manual_Insurance
      - fld_Manual_VAT
      - fld_Pack_Cost
      - fld_Total_Cost
      - min_ins
      - price_list
      - zone
      type: object
    HistoryReportObject:
      example:
        receiver:
          person: person
          company: company
        financial:
          delivery_charge: delivery_charge
          total_charge: 0
        cn:
          date: date
          tracking: tracking
        history:
        - status_note: status_note
          status: status
        - status_note: status_note
          status: status
      properties:
        cn:
          $ref: "#/components/schemas/ConsignmentNote"
        receiver:
          $ref: "#/components/schemas/ReceiverInfo"
        financial:
          $ref: "#/components/schemas/FinancialInfo"
        history:
          items:
            $ref: "#/components/schemas/HistoryEvent"
          type: array
      required:
      - cn
      - financial
      - history
      - receiver
      type: object
    BulkHistoryReportObject:
      example:
        history:
        - tracking: tracking
          status: status
        - tracking: tracking
          status: status
      properties:
        history:
          items:
            $ref: "#/components/schemas/BulkHistoryEvent"
          type: array
      required:
      - history
      type: object
    GetStateObject:
      example:
        state:
        - "false": "1"
          name: آذربایجان شرقی
        - "false": "1"
          name: آذربایجان شرقی
      properties:
        state:
          items:
            $ref: "#/components/schemas/State"
          type: array
      required:
      - state
      type: object
    GetCityObject:
      example:
        city:
        - "false": "11907"
          name: آرين شهر
          state_no: "9"
        - "false": "11907"
          name: آرين شهر
          state_no: "9"
        selected: "{}"
      properties:
        city:
          items:
            $ref: "#/components/schemas/City"
          type: array
        selected:
          nullable: true
          type: object
      required:
      - city
      type: object
    ConsignmentNote:
      example:
        date: date
        tracking: tracking
      properties:
        tracking:
          type: string
        date:
          type: string
      required:
      - date
      - tracking
      type: object
    ReceiverInfo:
      example:
        person: person
        company: company
      properties:
        person:
          type: string
        company:
          nullable: true
          type: string
      required:
      - person
      type: object
    FinancialInfo:
      example:
        delivery_charge: delivery_charge
        total_charge: 0
      properties:
        delivery_charge:
          type: string
        total_charge:
          type: integer
      required:
      - delivery_charge
      - total_charge
      type: object
    HistoryEvent:
      example:
        status_note: status_note
        status: status
      properties:
        status:
          type: string
        status_note:
          type: string
      required:
      - status
      - status_note
      type: object
    BulkHistoryEvent:
      example:
        tracking: tracking
        status: status
      properties:
        status:
          type: string
        tracking:
          type: string
      required:
      - status
      - tracking
      type: object
    State:
      example:
        "false": "1"
        name: آذربایجان شرقی
      properties:
        "false":
          example: "1"
          type: string
        name:
          example: آذربایجان شرقی
          type: string
      required:
      - name
      type: object
    City:
      example:
        "false": "11907"
        name: آرين شهر
        state_no: "9"
      properties:
        state_no:
          example: "9"
          type: string
        "false":
          example: "11907"
          type: string
        name:
          example: آرين شهر
          type: string
      required:
      - name
      - state_no
      type: object
    _bulk_import_post_200_response:
      example:
        result: true
        objects: "{}"
        message: Operation completed successfully.
      properties:
        result:
          example: true
          type: boolean
        message:
          example: Operation completed successfully.
          nullable: true
          type: string
        objects:
          nullable: true
          type: object
      required:
      - result
      type: object
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: APP-AUTH
      type: apiKey
