openapi: 3.0.0
info:
  description: API for interacting with the Chapar shipping service. All requests
    are sent with a single query parameter `input` which contains a URL-encoded JSON
    string payload.
  title: Chapar Customer API
  version: 2.0.0
servers:
- description: Production Server
  url: https://app.krch.ir/v1
tags:
- description: Get shipping quotes.
  name: Quotes
- description: Create and manage shipments.
  name: Shipments
- description: Track shipments and get history reports.
  name: Tracking
- description: Get state and city information.
  name: Locations
paths:
  /get_quote:
    post:
      parameters:
      - example: "{\"order\":{\"origin\":\"10866\",\"destination\":\"10866\",\"method\"\
          :\"1\",\"value\":\"3200000\",\"weight\":\"4\"}}"
        explode: true
        in: query
        name: input
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetQuoteResponse"
          description: Successful quote response
      summary: Get a shipping cost quote
      tags:
      - Quotes
  /tracking:
    post:
      parameters:
      - example: "{\"order\":{\"reference\":\"54100003225544101\",\"lang\":\"fa\"\
          }}"
        explode: true
        in: query
        name: input
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackingResponse"
          description: Successful tracking response
      summary: Track a shipment
      tags:
      - Tracking
  /bulk_import:
    post:
      callbacks:
        onStatusChanged:
          '{$request.body#/bulk/0/cn/change_state_url}':
            post:
              operationId: OnStatusChangedPost
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/CallbackPayload"
                required: true
              responses:
                "200":
                  description: Your server should return a 200 OK response to acknowledge
                    receipt of the callback.
              x-callback-request: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkImportRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkImportResponse"
          description: Successful bulk import response
      summary: Import shipments in bulk
      tags:
      - Shipments
  /history_report:
    post:
      parameters:
      - example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"date\"\
          :{\"from\":\"25-09-2017\",\"to\":\"10-10-2017\"},\"maximum_records\":10}"
        explode: true
        in: query
        name: input
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryReportResponse"
          description: Successful history report response
      summary: Get a history report
      tags:
      - Tracking
  /bulk_history_report:
    post:
      parameters:
      - example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"bulk\"\
          :[\"54100003992527101\",\"54100003942527101\"]}"
        explode: true
        in: query
        name: input
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkHistoryReportResponse"
          description: Successful bulk history report response
      summary: Get a bulk history report
      tags:
      - Tracking
  /cancel_pickup:
    post:
      parameters:
      - example: "{\"user\":{\"username\":\"test\",\"password\":\"1234\"},\"consignment_no\"\
          :\"54100004430041101\",\"reason\":\"آزمایشی\"}"
        explode: true
        in: query
        name: input
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStateResponse"
          description: "Response for a cancel pickup request (Note: sample provided\
            \ was for Get State)"
      summary: Cancel a scheduled pickup
      tags:
      - Shipments
  /get_city:
    post:
      parameters:
      - example: "{\"state\":{\"no\":9}}"
        explode: true
        in: query
        name: input
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCityResponse"
          description: Successful city list response
      summary: Get list of cities for a state
      tags:
      - Locations
components:
  schemas:
    GetQuoteResponse:
      example:
        order:
          quote: 330270
          price:
            fld_Total_Cost: 330270
            price_list: "1737"
            fld_Charge_Cost: 10000
            fld_Lab_Cost: 49000
            zone: C
            fld_Manual_VAT: 27270
            fld_Manual_Cost: 229000
            fld_Pack_Cost: 0
            fld_Manual_Insurance: 15000
            min_ins: "7500000"
          currency: IRR
      properties:
        order:
          $ref: "#/components/schemas/QuoteOrder"
      type: object
    QuoteOrder:
      example:
        quote: 330270
        price:
          fld_Total_Cost: 330270
          price_list: "1737"
          fld_Charge_Cost: 10000
          fld_Lab_Cost: 49000
          zone: C
          fld_Manual_VAT: 27270
          fld_Manual_Cost: 229000
          fld_Pack_Cost: 0
          fld_Manual_Insurance: 15000
          min_ins: "7500000"
        currency: IRR
      properties:
        quote:
          example: 330270
          type: integer
        price:
          $ref: "#/components/schemas/Price"
        currency:
          example: IRR
          type: string
      type: object
    Price:
      example:
        fld_Total_Cost: 330270
        price_list: "1737"
        fld_Charge_Cost: 10000
        fld_Lab_Cost: 49000
        zone: C
        fld_Manual_VAT: 27270
        fld_Manual_Cost: 229000
        fld_Pack_Cost: 0
        fld_Manual_Insurance: 15000
        min_ins: "7500000"
      properties:
        zone:
          example: C
          type: string
        fld_Manual_Cost:
          example: 229000
          type: integer
        fld_Pack_Cost:
          example: 0
          type: integer
        fld_Charge_Cost:
          example: 10000
          type: integer
        fld_Manual_Insurance:
          example: 15000
          type: integer
        fld_Lab_Cost:
          example: 49000
          type: integer
        fld_Manual_VAT:
          example: 27270
          type: integer
        fld_Total_Cost:
          example: 330270
          type: integer
        price_list:
          example: "1737"
          type: string
        min_ins:
          example: "7500000"
          type: string
      type: object
    TrackingResponse:
      example:
        order:
          geo:
            lng: "51.45734967"
            lat: "35.72247834"
          delivered_to: خسروانی
          signature: http://portal.chaparnet.com/...
          delivery_time: 1397/04/20 10:27:25
          history:
          - date: 1397/04/20
            geo:
              lng: "51.45734967"
              lat: "35.72247834"
            loc: تهران
            timestamp_date: 1531293828
            status: OD (توزیع توسط پیک)
          - date: 1397/04/20
            geo:
              lng: "51.45734967"
              lat: "35.72247834"
            loc: تهران
            timestamp_date: 1531293828
            status: OD (توزیع توسط پیک)
      properties:
        order:
          $ref: "#/components/schemas/TrackingOrder"
      type: object
    TrackingOrder:
      example:
        geo:
          lng: "51.45734967"
          lat: "35.72247834"
        delivered_to: خسروانی
        signature: http://portal.chaparnet.com/...
        delivery_time: 1397/04/20 10:27:25
        history:
        - date: 1397/04/20
          geo:
            lng: "51.45734967"
            lat: "35.72247834"
          loc: تهران
          timestamp_date: 1531293828
          status: OD (توزیع توسط پیک)
        - date: 1397/04/20
          geo:
            lng: "51.45734967"
            lat: "35.72247834"
          loc: تهران
          timestamp_date: 1531293828
          status: OD (توزیع توسط پیک)
      properties:
        delivered_to:
          example: خسروانی
          type: string
        delivery_time:
          example: 1397/04/20 10:27:25
          type: string
        signature:
          example: http://portal.chaparnet.com/...
          format: uri
          type: string
        geo:
          $ref: "#/components/schemas/Geo"
        history:
          items:
            $ref: "#/components/schemas/TrackingHistoryItem"
          type: array
      type: object
    Geo:
      example:
        lng: "51.45734967"
        lat: "35.72247834"
      properties:
        lat:
          example: "35.72247834"
          nullable: true
          type: string
        lng:
          example: "51.45734967"
          nullable: true
          type: string
      type: object
    TrackingHistoryItem:
      example:
        date: 1397/04/20
        geo:
          lng: "51.45734967"
          lat: "35.72247834"
        loc: تهران
        timestamp_date: 1531293828
        status: OD (توزیع توسط پیک)
      properties:
        timestamp_date:
          example: 1531293828
          type: integer
        date:
          example: 1397/04/20
          type: string
        status:
          example: OD (توزیع توسط پیک)
          type: string
        geo:
          $ref: "#/components/schemas/Geo"
        loc:
          example: تهران
          nullable: true
          type: string
      type: object
    BulkImportRequest:
      example:
        bulk:
        - receiver:
            address: آزمایشی
            city_no: "10770"
            person: آزمایشی
            mobile: "989034538660"
          sender:
            address: آزمایشی
            city_no: "10770"
            person: آزمایشی
            mobile: "989034538660"
          cn:
            reference: 675675
            date: 2018-05-13
            service: COD
            change_state_url: https://...
            value: "3350000.00"
            assinged_pieces: "3"
        - receiver:
            address: آزمایشی
            city_no: "10770"
            person: آزمایشی
            mobile: "989034538660"
          sender:
            address: آزمایشی
            city_no: "10770"
            person: آزمایشی
            mobile: "989034538660"
          cn:
            reference: 675675
            date: 2018-05-13
            service: COD
            change_state_url: https://...
            value: "3350000.00"
            assinged_pieces: "3"
        user:
          password: "1234"
          username: test
      properties:
        user:
          $ref: "#/components/schemas/User"
        bulk:
          items:
            $ref: "#/components/schemas/BulkItem"
          type: array
      type: object
    User:
      example:
        password: "1234"
        username: test
      properties:
        username:
          example: test
          type: string
        password:
          example: "1234"
          type: string
      type: object
    BulkItem:
      example:
        receiver:
          address: آزمایشی
          city_no: "10770"
          person: آزمایشی
          mobile: "989034538660"
        sender:
          address: آزمایشی
          city_no: "10770"
          person: آزمایشی
          mobile: "989034538660"
        cn:
          reference: 675675
          date: 2018-05-13
          service: COD
          change_state_url: https://...
          value: "3350000.00"
          assinged_pieces: "3"
      properties:
        cn:
          $ref: "#/components/schemas/BulkConsignmentNote"
        receiver:
          $ref: "#/components/schemas/Contact"
        sender:
          $ref: "#/components/schemas/Contact"
      type: object
    BulkConsignmentNote:
      example:
        reference: 675675
        date: 2018-05-13
        service: COD
        change_state_url: https://...
        value: "3350000.00"
        assinged_pieces: "3"
      properties:
        reference:
          example: 675675
          type: integer
        date:
          example: 2018-05-13
          format: date
          type: string
        assinged_pieces:
          example: "3"
          type: string
        service:
          example: COD
          type: string
        value:
          example: "3350000.00"
          type: string
        change_state_url:
          example: https://...
          format: uri
          type: string
      type: object
    Contact:
      example:
        address: آزمایشی
        city_no: "10770"
        person: آزمایشی
        mobile: "989034538660"
      properties:
        person:
          example: آزمایشی
          type: string
        city_no:
          example: "10770"
          type: string
        mobile:
          example: "989034538660"
          type: string
        address:
          example: آزمایشی
          type: string
      type: object
    BulkImportResponse:
      example:
        result:
        - reference: 123
          error: " (request:1,exist_package:1,exist_cons:1) "
          tracking: "54100004430128101"
          status: true
        - reference: 123
          error: " (request:1,exist_package:1,exist_cons:1) "
          tracking: "54100004430128101"
          status: true
      properties:
        result:
          items:
            $ref: "#/components/schemas/BulkImportResult"
          type: array
      type: object
    BulkImportResult:
      example:
        reference: 123
        error: " (request:1,exist_package:1,exist_cons:1) "
        tracking: "54100004430128101"
        status: true
      properties:
        tracking:
          example: "54100004430128101"
          type: string
        reference:
          example: 123
          type: integer
        status:
          example: true
          type: boolean
        error:
          example: " (request:1,exist_package:1,exist_cons:1) "
          type: string
      type: object
    CallbackPayload:
      example:
        date: 2021-10-16 10:20:34
        comments: بار جهت توزیع توسط پیک ارسال شد
        location:
          lng: "7777"
          city: تهران
          lat: "33333"
        status: OD
      properties:
        location:
          $ref: "#/components/schemas/CallbackLocation"
        date:
          example: 2021-10-16 10:20:34
          type: string
        status:
          example: OD
          type: string
        comments:
          example: بار جهت توزیع توسط پیک ارسال شد
          type: string
      type: object
    CallbackLocation:
      example:
        lng: "7777"
        city: تهران
        lat: "33333"
      properties:
        city:
          example: تهران
          type: string
        lat:
          example: "33333"
          type: string
        lng:
          example: "7777"
          type: string
      type: object
    HistoryReportResponse:
      example:
        receiver:
          city: تهران
          person: تست سعید
        financial:
          delivery_charge: "108945"
          total_charge: 136450
        cn:
          last_status: OK
          tracking: "54100004430041101"
        history:
        - date: 2020-06-20 13:58:08
          status_note: بار به صورت صحیح و سالم تحویل شد
          timestamp_date: 1592645288
          status: OK
        - date: 2020-06-20 13:58:08
          status_note: بار به صورت صحیح و سالم تحویل شد
          timestamp_date: 1592645288
          status: OK
      properties:
        cn:
          $ref: "#/components/schemas/HistoryConsignmentNote"
        receiver:
          $ref: "#/components/schemas/HistoryContact"
        financial:
          $ref: "#/components/schemas/Financial"
        history:
          items:
            $ref: "#/components/schemas/HistoryItem"
          type: array
      type: object
    HistoryConsignmentNote:
      example:
        last_status: OK
        tracking: "54100004430041101"
      properties:
        tracking:
          example: "54100004430041101"
          type: string
        last_status:
          example: OK
          type: string
      type: object
    HistoryContact:
      example:
        city: تهران
        person: تست سعید
      properties:
        person:
          example: تست سعید
          type: string
        city:
          example: تهران
          type: string
      type: object
    Financial:
      example:
        delivery_charge: "108945"
        total_charge: 136450
      properties:
        delivery_charge:
          example: "108945"
          type: string
        total_charge:
          example: 136450
          type: integer
      type: object
    HistoryItem:
      example:
        date: 2020-06-20 13:58:08
        status_note: بار به صورت صحیح و سالم تحویل شد
        timestamp_date: 1592645288
        status: OK
      properties:
        timestamp_date:
          example: 1592645288
          type: integer
        date:
          example: 2020-06-20 13:58:08
          type: string
        status:
          example: OK
          type: string
        status_note:
          example: بار به صورت صحیح و سالم تحویل شد
          type: string
      type: object
    BulkHistoryReportResponse:
      example:
        history:
        - date: 2020-07-19
          reference: "123"
          status_note: بار در سیستم ورود اطلاعات شد
          time: 01:26
          tracking: "54100004430128101"
          status: D01
        - date: 2020-07-19
          reference: "123"
          status_note: بار در سیستم ورود اطلاعات شد
          time: 01:26
          tracking: "54100004430128101"
          status: D01
      properties:
        history:
          items:
            $ref: "#/components/schemas/BulkHistoryItem"
          type: array
      type: object
    BulkHistoryItem:
      example:
        date: 2020-07-19
        reference: "123"
        status_note: بار در سیستم ورود اطلاعات شد
        time: 01:26
        tracking: "54100004430128101"
        status: D01
      properties:
        time:
          example: 01:26
          type: string
        date:
          example: 2020-07-19
          type: string
        status:
          example: D01
          type: string
        status_note:
          example: بار در سیستم ورود اطلاعات شد
          type: string
        tracking:
          example: "54100004430128101"
          type: string
        reference:
          example: "123"
          type: string
      type: object
    GetStateResponse:
      example:
        state:
        - "false": "1"
          name: آذربایجان شرقی
        - "false": "1"
          name: آذربایجان شرقی
      properties:
        state:
          items:
            $ref: "#/components/schemas/State"
          type: array
      type: object
    State:
      example:
        "false": "1"
        name: آذربایجان شرقی
      properties:
        "false":
          example: "1"
          type: string
        name:
          example: آذربایجان شرقی
          type: string
      type: object
    GetCityResponse:
      example:
        objects:
          city:
          - "false": "11907"
            name: آرين شهر
            state_no: "9"
          - "false": "11907"
            name: آرين شهر
            state_no: "9"
          selected: "{}"
      properties:
        objects:
          $ref: "#/components/schemas/CityObjects"
      type: object
    CityObjects:
      example:
        city:
        - "false": "11907"
          name: آرين شهر
          state_no: "9"
        - "false": "11907"
          name: آرين شهر
          state_no: "9"
        selected: "{}"
      properties:
        city:
          items:
            $ref: "#/components/schemas/City"
          type: array
        selected:
          nullable: true
          type: object
      type: object
    City:
      example:
        "false": "11907"
        name: آرين شهر
        state_no: "9"
      properties:
        state_no:
          example: "9"
          type: string
        "false":
          example: "11907"
          type: string
        name:
          example: آرين شهر
          type: string
      type: object
